# Xcode
DerivedData/
build/
*.pbxuser
*.pbxproj
*.xcuserstate
!default.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/

# Swift Package Manager
.build/
Packages/
.swiftpm/
*.xcworkspace

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Misc
*.swp
*.DS_Store
